#pragma once

// Layer definitions (shared)
#define DEFAULT_L        0
#define APPLE_L          1
#define LEFT_L           2
#define RIGHT_L          3
#define TRACKBALL_L      4
#define SLOWTRACKBALL_L  5
#define SCROLL_L         6
#define FASTRSCROLL_L    7
#define CENTER_L         8
#define CENTER2_L        9
#define BT_L             10
#define SLOWSCROLL_L     11

