#include "torabo_tsuki_lp.dtsi"
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <scroll-snap.dtsi> // スクロールスナップ ZMK Scroll Snap Module(https://github.com/kot149/zmk-scroll-snap)を使う

&pointing_listener {
//    input-processors = <&zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>;
    input-processors = <&zip_xy_scaler 1 3>; // カーソル移動速度を遅くする

    // left_layerではカーソル遅くする
    slow_cursor {
        layers = <4>;
        input-processors = <&zip_xy_scaler 1 6>;
    };

    // center_layerではカーソル早くする
    fast_cursor {
        layers = <8>;
        input-processors = <&zip_xy_scaler>;
    };

    scroller {
        layers = <7>;
        input-processors =
            <&zip_xy_to_scroll_mapper>,
            <&zip_scroll_snap>, // スクロールスナップ機能を入れる
            <&zip_scroll_transform INPUT_TRANSFORM_Y_INVERT>, // スクロール方向をWindowsに合わせる
            <&zip_scroll_scaler 1 3>; // スクロール速度調整(Soa44では1/8)
    };

    // 高速スクロール
    fast_scroller {
        layers = <5>;
        input-processors =
            <&zip_xy_to_scroll_mapper>,
            <&zip_scroll_snap>, // スクロールスナップ機能を入れる
            <&zip_scroll_transform INPUT_TRANSFORM_Y_INVERT>, // スクロール方向をWindowsに合わせる
            <&zip_scroll_scaler>; // スクロール速度調整(Soa44では1/8)
    };
};

&size_s_transform {
    col-offset = <7>;
};

&size_m_transform {
    col-offset = <7>;
};

&size_l_transform {
    col-offset = <7>;
};